.body{
  background-color: white;
}


.mat-card {
  border: 1px solid black;
  border-radius: .2rem;
  margin-left: 30%;
  margin-right: 40%;
}

.mat-card .mat-form-field{
  padding: 24px 20px 18px;
}
